<div class="wrapper">
  <form #form="ngForm" aria-label="search area for countries or continents">
    <div class="sec_header">
      <div class="side_dock">
        <h3>Custom Name, Currency and Region Filters</h3>
      </div>
      <div class="search_filter">
        <input
          type="search"
          name="searchHere"
          [(ngModel)]="countryFilter"
          aria-label="search for a country here"
          placeholder="Search for a country..."
        />
        <input
          type="search"
          name="searchHere"
          [(ngModel)]="countryCurFilter"
          aria-label="search for a Curency here"
          placeholder="Search for a Curency..."
        />
        <select
          class="listContinents"
          (change)="selectByContinent($event)"
          aria-label="filter country by continents"
          name="continents"
          placeholder="Filter by region"
        >
          <option value="All">Filter by region</option>
          <option
            *ngFor="let continent of continentList"
            [value]="continent"
            [selected]="continent.selected == true"
          >
            {{ continent }}
          </option>
        </select>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row">
      <div
        class="main countrisList col-md-3"
        *ngFor="let country of fcountries"
      >
        <img
          [src]="country.flag"
          alt="flag of 'country.flag'"
          [routerLink]="['/countries', country.name]"
        />
        <div class="details">
          <h3>{{ country.name }}</h3>
          <h4>
            Region: <span>{{ country.region }}</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
