<div class="container">
    <div class="heading">
        <h2>Login</h2>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
        <label for="username">UserName:</label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    </form>
</div>
